In [1]:
import os
import numpy as np
from matplotlib.lines import Line2D
from scipy.stats import pearsonr, gaussian_kde, linregress, ttest_ind, sem, zscore
from sklearn.metrics import r2_score, mean_squared_error
from scipy.stats import norm
from scipy.stats import percentileofscore
from sklearn.utils.validation import check_random_state
from math import factorial
from more_itertools import distinct_permutations
import statsmodels.api as sm

import matplotlib.pyplot as plt

import pandas as pd
from sklearn.model_selection import KFold, train_test_split, StratifiedKFold
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
from sklearn.linear_model import LinearRegression
import statsmodels.api as sm
from scipy import stats

import numpy as np
from scipy.stats import linregress
from scipy.stats import pearsonr
import matplotlib.pyplot as plt

from sklearn.metrics import r2_score, mean_squared_error
from sklearn.model_selection import KFold, ParameterGrid, train_test_split
from tqdm.notebook import tqdm

import warnings
import random
#from torch.utils.data import SubsetRandomSampler
from sklearn.utils import resample

from sklearn.preprocessing import MinMaxScaler
from statsmodels.stats.diagnostic import linear_harvey_collier
from scipy.stats import chi2
from sklearn.model_selection import train_test_split
from colorama import Fore, Style, init
from sklearn.metrics import roc_auc_score
from collections import Counter

from statsmodels.stats.diagnostic import linear_harvey_collier
from scipy.stats import chi2
from sklearn.model_selection import train_test_split
from colorama import Fore, Style, init
from sklearn.metrics import roc_auc_score

warnings.filterwarnings("ignore")

In [2]:
from scipy.stats import chi2

def summarize_feature(df, feature, df_out, stat_cols=(10, 50), df_offset=2):

    d = df[df["Feature"] == feature]
    if d.empty:
        return df_out  

    for k in stat_cols:
        col = f"hl_statistic_{k}"
        if col in d.columns:
            df_chi = k - df_offset
            combined_p = 1 - chi2.cdf(d[col].mean(), df_chi)
            df_out.loc[feature, f"hl_pvalue_combined_{k}"] = combined_p

    # --- RR summary ---
    if "RR" in d.columns:
        or_mean = d["RR"].mean()
        or_std = d["RR"].std(ddof=1)
        df_out.loc[feature, "RR"] = or_mean
        df_out.loc[feature, "2.5%"] = or_mean - or_std
        df_out.loc[feature, "97.5%"] = or_mean + or_std

    # --- min/max de los IC originales (tal como lo estabas haciendo) ---
    if "2.5%" in d.columns:
        df_out.loc[feature, "minRR"] = d["2.5%"].min()
    if "97.5%" in d.columns:
        df_out.loc[feature, "maxRR"] = d["97.5%"].max()

    return df_out


features = ["Mono", "One", "Two", "Three", "Total"] 




def hosmer_lemeshow(y_true, y_prob, g):
    hl_df = pd.DataFrame({
        "observed": y_true,
        "predicted_probability": y_prob
    }).dropna()


    hl_df["group"] = pd.qcut(hl_df["predicted_probability"], g, duplicates="drop")

    hl_table = hl_df.groupby("group").apply(
        lambda x: pd.Series({
            "observed": x["observed"].sum(),
            "expected": x["predicted_probability"].sum(),
            "total": len(x)
        })
    )

    hl_table["observed_neg"] = hl_table["total"] - hl_table["observed"]
    hl_table["expected_neg"] = hl_table["total"] - hl_table["expected"]


    hl_statistic = (
        ((hl_table["observed"] - hl_table["expected"])**2) / hl_table["expected"] +
        ((hl_table["observed_neg"] - hl_table["expected_neg"])**2) / hl_table["expected_neg"]
    ).sum()


    dof = hl_table.shape[0] - 2
    p_value = 1 - chi2.cdf(hl_statistic, dof)

    return hl_statistic, p_value



def summarize_feature_by_covar(df, covar, feature, df_out, stat_cols=(10, 50), df_offset=2):
    d = df[(df["Covar"] == covar) & (df["Feature"] == feature)]
    if d.empty:
        return df_out

    idx = (covar, feature)

    for k in stat_cols:
        col = f"hl_statistic_{k}"
        if col in d.columns:
            df_chi = k - df_offset
            df_out.loc[idx, f"hl_pvalue_combined_{k}"] = 1 - chi2.cdf(d[col].mean(), df_chi)

    or_mean = d["RR"].mean()
    or_std  = d["RR"].std(ddof=1)
    df_out.loc[idx, "RR"] = or_mean
    df_out.loc[idx, "2.5%"] = or_mean - or_std
    df_out.loc[idx, "97.5%"] = or_mean + or_std

    df_out.loc[idx, "minRR"] = d["2.5%"].min()
    df_out.loc[idx, "maxRR"] = d["97.5%"].max()

    df_out.loc[idx, "n_iter"] = d.shape[0]

    return df_out

## Load data

In [3]:
import time

t0 = time.perf_counter()

In [4]:
data = pd.read_csv('data/BBAG-long.csv')

In [5]:
Counter(data.country)

Counter({'Austria': 4320,
         'Belgium': 4942,
         'Czechia': 5575,
         'Switzerland': 2634,
         'Germany': 4567,
         'Denmark': 2609,
         'Estonia': 7522,
         'Spain': 4912,
         'France': 3640,
         'Hungary': 3010,
         'Italy': 4541,
         'Netherlands': 2546,
         'Poland': 3612,
         'Portugal': 1914,
         'Sweden': 2792,
         'Slovenia': 5291,
         'Luxembourg': 2104,
         'Greece': 2599,
         'Croatia': 2798,
         'Bulgaria': 1953,
         'Cyprus': 1205,
         'Finland': 1982,
         'Lithuania': 2033,
         'Latvia': 1684,
         'Malta': 1259,
         'Romania': 2083,
         'Slovakia': 2022})

In [6]:
vars_ = ['Mono', 'One',	'Two',	'Three', 'Total']

# Relative Risk

## Without co-vars

### Without iterations

In [8]:
results_merge_df_all = data.copy()

results_merge_df_all = results_merge_df_all.loc[:, ~results_merge_df_all.columns.duplicated()]

df_directions_odd = pd.DataFrame()

for i in vars_:
    
    y_ols = results_merge_df_all['GAP_bin']

    
    X_ols = results_merge_df_all[[i] + ['delta_time']]
    X_train, X_test, y_train, y_test = train_test_split(X_ols, y_ols, test_size=0.2, random_state=42)
    

    scaler = MinMaxScaler((0.05, 0.95))
    X_train_scaled = scaler.fit_transform(X_train)
    X_train_scaled = pd.DataFrame(X_train_scaled, columns=X_train.columns, index=X_train.index)
    
    X_test_scaled = scaler.transform(X_test)
    X_test_scaled = pd.DataFrame(X_test_scaled, columns=X_test.columns, index=X_test.index)
    
    X_train_scaled['intercept'] = 1
    X_test_scaled['intercept'] = 1
    
    model = sm.GLM(y_train, X_train_scaled, family=sm.families.Binomial(link=sm.families.links.log())).fit(disp = 0)
    
    params = model.params
    conf = np.exp(model.conf_int())
    conf['RR'] = np.exp(params)
    conf['z'] =model.tvalues
    conf['P>|z|'] =model.pvalues
    conf.columns = ['2.5%', '97.5%', 'RR', 'z', 'P>|z|']
    
    df = conf.loc[i:i]
    df['Feature'] = i
    df_directions_odd = pd.concat([df_directions_odd, df])

df_directions_odd = df_directions_odd.reset_index(drop=True)

df_directions_odd.to_excel('Results/long/long_RR_-with-slovakia.xlsx')
df_directions_odd

       2.5%     97.5%        RR          z          P>|z| Feature
0  1.419603  1.518464  1.468202  22.361225  9.390011e-111    Mono
1  0.896125  0.979865  0.937060  -2.852483   4.337907e-03     One
2  0.734527  0.789933  0.761727 -14.670582   9.948823e-49     Two
3  0.630296  0.697404  0.663002 -15.922866   4.397616e-57   Three
4  0.657869  0.703752  0.680424 -22.386941  5.275830e-111   Total

### 1000-iteration

In [8]:


count = 0

results_dict = {}
for i in vars_:
    results_dict[i + "_y"] = pd.Series(dtype=float)
    results_dict[i + "_ypred"] = pd.Series(dtype=float)

results_merge_df_all = data.copy()


df_directions_odd = pd.DataFrame()

n_boosts = 10  
test_size = 500 / results_merge_df_all.shape[0]

for boosts in range(n_boosts):
    for i in vars_:

        y_ols = results_merge_df_all["GAP_bin"]
        X_ols = results_merge_df_all[[i] + ['delta_time']]

        X_train, X_test, y_train, y_test = train_test_split(
            X_ols, y_ols,
            test_size=test_size,
            stratify=results_merge_df_all["GAP_bin"],
            random_state=boosts
        )

        scaler = MinMaxScaler((0.05, 0.95))

        X_train_scaled = pd.DataFrame(
            scaler.fit_transform(X_train),
            columns=X_train.columns,
            index=X_train.index
        )
        X_test_scaled = pd.DataFrame(
            scaler.transform(X_test),
            columns=X_test.columns,
            index=X_test.index
        )

        X_train_scaled["intercept"] = 1
        X_test_scaled["intercept"] = 1


        model = sm.GLM(y_train, X_train_scaled, family=sm.families.Binomial(link=sm.families.links.log())).fit(disp = 0)


        y_test_pred = model.predict(X_test_scaled)

        results_dict[i + "_y"] = pd.concat([results_dict[i + "_y"], y_test], axis=0)
        results_dict[i + "_ypred"] = pd.concat([results_dict[i + "_ypred"], y_test_pred], axis=0)

        params = model.params
        conf = np.exp(model.conf_int())
        conf["RR"] = np.exp(params)
        conf["z"] = model.tvalues
        conf["P>|z|"] = model.pvalues
        conf.columns = ["2.5%", "97.5%", "RR", "z", "P>|z|"]

        df = conf.loc[i:i].copy()
        df["Feature"] = i

        hl10_stat, hl10_p = hosmer_lemeshow(y_test, y_test_pred, g=10)
        hl50_stat, hl50_p = hosmer_lemeshow(y_test, y_test_pred, g=50)
        hl100_stat, hl100_p = hosmer_lemeshow(y_test, y_test_pred, g=100)

        df["hl_statistic_10"] = hl10_stat
        df["hl_pvalue_10"] = hl10_p

        df["hl_statistic_50"] = hl50_stat
        df["hl_pvalue_50"] = hl50_p

        df["hl_statistic_100"] = hl100_stat
        df["hl_pvalue_100"] = hl100_p

        df_directions_odd = pd.concat([df_directions_odd, df], axis=0)

    df_directions_odd = df_directions_odd.reset_index(drop=True)

df_directions_odd;

In [9]:
df_directions_odd_f = pd.DataFrame()

for f in vars_:
    df_directions_odd_f = summarize_feature(df_directions_odd, f, df_directions_odd_f, stat_cols=(10, 50, 100))

df_directions_odd_f.to_excel('Results/long/long_RR_-with-slovakia-1000-iter.xlsx')
df_directions_odd_f

,hl_pvalue_combined_10,hl_pvalue_combined_50,hl_pvalue_combined_100,RR,2.5%,97.5%,minRR,maxRR
Mono,0.227057,0.276143,0.987386,1.458936,1.457314,1.460557,1.413560,1.507324
One,0.187174,0.301479,0.984956,0.931544,0.930323,0.932765,0.892904,0.971324
Two,0.124935,0.434685,0.987426,0.770669,0.770020,0.771317,0.745225,0.797220
Three,0.142060,0.342885,0.993240,0.668486,0.667222,0.669750,0.636319,0.701271
Total,0.233401,0.315816,0.988639,0.684755,0.683995,0.685515,0.662745,0.706768

## Odd ratios with macrosocials

### Without Iteration

In [10]:
vars_social_physical = ['gender_equal_l', 'Polution_conc_inv', 'Eq']

vars_sociopolitical = ['free_parties_l',  'inclu_suff_est', 'cred_elect_est', 'local_dem_est']

In [11]:
results_merge_df_all = data.copy()

covar_list = (
    ['total_exposomes', 'sociopolitical', 'social_physical', 'GDP',
     'number_leng_inst', 'number_stable_inst', 'distance', 'Migration']
    + vars_social_physical
    + vars_sociopolitical
)

df_directions_odd_all = []
df_directions_cov_odd_all = []

for covar in covar_list:
    for i in vars_:

        c_results_merge_df_all = results_merge_df_all.dropna(subset= [i, covar] + ['delta_time', 'GAP_bin'])
        c_results_merge_df_all.reset_index(drop = True, inplace = True)
        
        y_ols = c_results_merge_df_all['GAP_bin']
        X_ols = c_results_merge_df_all[[i, covar] + ['delta_time']]

        X_train, X_test, y_train, y_test = train_test_split(
            X_ols, y_ols, test_size=0.2, random_state=42
        )

        scaler = MinMaxScaler((0.05, 0.95))

        X_train_scaled = pd.DataFrame(
            scaler.fit_transform(X_train),
            columns=X_train.columns,
            index=X_train.index
        )
        X_test_scaled = pd.DataFrame(
            scaler.transform(X_test),
            columns=X_test.columns,
            index=X_test.index
        )

        X_train_scaled['intercept'] = 1
        X_test_scaled['intercept'] = 1

        model = sm.GLM(y_train, X_train_scaled, family=sm.families.Binomial(link=sm.families.links.log())).fit(disp = 0)

        params = model.params
        conf = np.exp(model.conf_int())
        conf['RR'] = np.exp(params)
        conf['z'] = model.tvalues
        conf['P>|z|'] = model.pvalues
        conf.columns = ['2.5%', '97.5%', 'RR', 'z', 'P>|z|']

        df_i = conf.loc[i:i].copy()
        df_i['Feature'] = i
        df_i['Covar'] = covar
        df_directions_odd_all.append(df_i)

        df_c = conf.loc[covar:covar].copy()
        df_c['Feature'] = f"{i}({covar})"
        df_c['Exposure'] = i          # opcional pero Ãºtil
        df_c['Covar'] = covar
        df_directions_cov_odd_all.append(df_c)

df_directions_odd = pd.concat(df_directions_odd_all, axis=0).reset_index(drop=True)
df_directions_cov_odd = pd.concat(df_directions_cov_odd_all, axis=0).reset_index(drop=True)

#df_directions_odd, df_directions_cov_odd

In [12]:
for covar in ['total_exposomes', 'sociopolitical', 'social_physical', 'GDP', 'number_leng_inst', 'number_stable_inst', 'distance', 'Migration'] + vars_social_physical + vars_sociopolitical:
    c_dfRR = df_directions_odd[df_directions_odd.Covar == covar]
    c_dfRR.to_excel('Results/long/long_RR_-with-slovakia_covar-' + covar + '.xlsx')

    print(covar)
    display(c_dfRR)

total_exposomes

,2.5%,97.5%,RR,z,P>|z|,Feature,Covar
0,1.406743,1.507430,1.456217,21.312011,8.784104e-101,Mono,total_exposomes
1,0.901508,0.985567,0.942601,-2.599230,9.343327e-03,One,total_exposomes
2,0.745548,0.802873,0.773680,-13.578320,5.384712e-42,Two,total_exposomes
3,0.643152,0.712337,0.676861,-14.974136,1.083668e-50,Three,total_exposomes
4,0.662691,0.710191,0.686030,-21.338550,4.981539e-101,Total,total_exposomes

sociopolitical

,2.5%,97.5%,RR,z,P>|z|,Feature,Covar
5,1.418875,1.517831,1.467519,22.302249,3.513908e-110,Mono,sociopolitical
6,0.892516,0.976205,0.933423,-3.013249,2.584669e-03,One,sociopolitical
7,0.734525,0.790259,0.761883,-14.576414,3.968198e-48,Two,sociopolitical
8,0.630547,0.697729,0.663288,-15.895658,6.791152e-57,Three,sociopolitical
9,0.658147,0.704117,0.680744,-22.328157,1.968788e-110,Total,sociopolitical

social_physical

,2.5%,97.5%,RR,z,P>|z|,Feature,Covar
10,1.357781,1.464566,1.410163,17.796134,7.571866e-71,Mono,social_physical
11,0.888624,0.971164,0.928978,-3.251280,1.148867e-03,One,social_physical
12,0.789704,0.856386,0.822369,-9.456781,3.175680e-21,Two,social_physical
13,0.682397,0.758045,0.719227,-12.288699,1.041688e-34,Three,social_physical
14,0.682115,0.735813,0.708456,-17.829427,4.176797e-71,Total,social_physical

GDP

        2.5%     97.5%        RR          z          P>|z| Feature Covar
15  1.434527  1.534246  1.483549  23.007191  3.949366e-117    Mono   GDP
16  0.891888  0.979211  0.934530  -2.841613   4.488590e-03     One   GDP
17  0.718794  0.774481  0.746119 -15.385472   2.048761e-53     Two   GDP
18  0.597610  0.664725  0.630275 -17.000421   8.153193e-65   Three   GDP
19  0.651147  0.696477  0.673431 -23.028697  2.405126e-117   Total   GDP

number_leng_inst

,2.5%,97.5%,RR,z,P>|z|,Feature,Covar
20,1.434729,1.536761,1.484869,22.556446,1.160824e-112,Mono,number_leng_inst
21,0.882466,0.968443,0.924456,-3.311945,9.264990e-04,One,number_leng_inst
22,0.721361,0.777923,0.749108,-15.000339,7.304538e-51,Two,number_leng_inst
23,0.624583,0.691364,0.657126,-16.202791,4.818943e-59,Three,number_leng_inst
24,0.649926,0.696227,0.672678,-22.584706,6.126587e-113,Total,number_leng_inst

number_stable_inst

,2.5%,97.5%,RR,z,P>|z|,Feature,Covar
25,1.443750,1.540884,1.491527,24.069195,5.256071e-128,Mono,number_stable_inst
26,0.930362,1.018082,0.973234,-1.180320,2.378731e-01,One,number_stable_inst
27,0.711962,0.765120,0.738063,-16.533985,2.088680e-61,Two,number_stable_inst
28,0.577346,0.639834,0.607787,-18.993034,1.947468e-80,Three,number_stable_inst
29,0.648464,0.692158,0.669955,-24.078452,4.204456e-128,Total,number_stable_inst

distance

        2.5%     97.5%        RR          z          P>|z| Feature     Covar
30  1.439486  1.542028  1.489875  22.711570  3.443179e-114    Mono  distance
31  0.889960  0.974299  0.931175  -3.087206   2.020476e-03     One  distance
32  0.716220  0.772888  0.744015 -15.222069   2.524184e-52     Two  distance
33  0.621289  0.688847  0.654197 -16.114564   2.015818e-58   Three  distance
34  0.647906  0.694119  0.670614 -22.732769  2.125043e-114   Total  distance

Migration

        2.5%     97.5%        RR          z         P>|z| Feature      Covar
35  1.357335  1.473284  1.414122  16.570528  1.138222e-61    Mono  Migration
36  0.886138  0.971076  0.927635  -3.216926  1.295719e-03     One  Migration
37  0.774554  0.835156  0.804285 -11.333555  8.949731e-30     Two  Migration
38  0.690933  0.776729  0.732576 -10.421601  1.975993e-25   Three  Migration
39  0.677835  0.735854  0.706249 -16.599861  6.985223e-62   Total  Migration

gender_equal_l

,2.5%,97.5%,RR,z,P>|z|,Feature,Covar
40,1.354641,1.449569,1.401302,19.527382,6.424960e-85,Mono,gender_equal_l
41,0.939680,1.027378,0.982551,-0.773353,4.393132e-01,One,gender_equal_l
42,0.773666,0.832441,0.802516,-11.777809,5.079623e-32,Two,gender_equal_l
43,0.638374,0.704198,0.670479,-15.968417,2.121020e-57,Three,gender_equal_l
44,0.689134,0.737491,0.712903,-19.560195,3.377822e-85,Total,gender_equal_l

Polution_conc_inv

,2.5%,97.5%,RR,z,P>|z|,Feature,Covar
45,1.506033,1.616368,1.560225,24.662489,2.703412e-134,Mono,Polution_conc_inv
46,0.895626,0.979364,0.936560,-2.874446,4.047365e-03,One,Polution_conc_inv
47,0.704117,0.759579,0.731323,-16.177020,7.325567e-59,Two,Polution_conc_inv
48,0.604286,0.671291,0.636908,-16.817229,1.824980e-63,Three,Polution_conc_inv
49,0.618110,0.663450,0.640379,-24.680893,1.715516e-134,Total,Polution_conc_inv

Eq

        2.5%     97.5%        RR          z         P>|z| Feature Covar
50  1.338135  1.438605  1.387461  17.731123  2.411692e-70    Mono    Eq
51  0.851482  0.932614  0.891125  -4.964685  6.881268e-07     One    Eq
52  0.799096  0.863127  0.830495  -9.445421  3.539790e-21     Two    Eq
53  0.698671  0.777373  0.736972 -11.208265  3.714016e-29   Three    Eq
54  0.694410  0.746616  0.720040 -17.761381  1.407292e-70   Total    Eq

free_parties_l

,2.5%,97.5%,RR,z,P>|z|,Feature,Covar
55,1.329733,1.423104,1.375626,18.421185,8.883676e-76,Mono,free_parties_l
56,0.909146,0.995210,0.951205,-2.168042,3.015548e-02,One,free_parties_l
57,0.773795,0.831050,0.801912,-12.122614,8.016126e-34,Two,free_parties_l
58,0.658628,0.727526,0.692221,-14.493212,1.337393e-47,Three,free_parties_l
59,0.701966,0.751323,0.726225,-18.454005,4.842022e-76,Total,free_parties_l

inclu_suff_est

,2.5%,97.5%,RR,z,P>|z|,Feature,Covar
60,1.419131,1.518110,1.467786,22.311746,2.841866e-110,Mono,inclu_suff_est
61,0.895311,0.979142,0.936289,-2.883090,3.937946e-03,One,inclu_suff_est
62,0.735390,0.791128,0.762750,-14.530932,7.716380e-48,Two,inclu_suff_est
63,0.630395,0.697627,0.663159,-15.887992,7.674678e-57,Three,inclu_suff_est
64,0.658023,0.703986,0.680617,-22.337574,1.594736e-110,Total,inclu_suff_est

cred_elect_est

,2.5%,97.5%,RR,z,P>|z|,Feature,Covar
65,1.407965,1.505233,1.455787,22.036949,1.274402e-107,Mono,cred_elect_est
66,0.904567,0.989389,0.946028,-2.426502,1.524517e-02,One,cred_elect_est
67,0.731895,0.786691,0.758799,-14.986215,9.035728e-51,Two,cred_elect_est
68,0.631447,0.698374,0.664068,-15.928853,3.996180e-57,Three,cred_elect_est
69,0.663669,0.709588,0.686244,-22.061322,7.437754e-108,Total,cred_elect_est

local_dem_est

,2.5%,97.5%,RR,z,P>|z|,Feature,Covar
70,1.404179,1.502414,1.452466,21.637817,7.916344e-104,Mono,local_dem_est
71,0.908940,0.994475,0.950746,-2.201420,2.770634e-02,One,local_dem_est
72,0.738765,0.794458,0.766105,-14.369889,7.995932e-47,Two,local_dem_est
73,0.640155,0.707861,0.673157,-15.431221,1.009419e-53,Three,local_dem_est
74,0.664919,0.711507,0.687819,-21.661764,4.708540e-104,Total,local_dem_est

### 1000-Iteration

In [13]:

results_merge_df_all = data.copy()

covar_list = (
    ['total_exposomes', 'sociopolitical', 'social_physical', 'GDP',
     'number_leng_inst', 'number_stable_inst', 'distance', 'Migration']
    + vars_social_physical
    + vars_sociopolitical
)



n_boosts = 10  
test_size = 500 / results_merge_df_all.shape[0]


df_directions_odd_all = []
df_directions_cov_all = []


results_dict = {}  

for covar in covar_list:
    print(covar)
    for boosts in range(n_boosts):

        for i in vars_:

            c_results_merge_df_all = results_merge_df_all.dropna(subset= [i, covar] + ['delta_time', 'GAP_bin'])
            c_results_merge_df_all.reset_index(drop = True, inplace = True)
            
            y_ols = c_results_merge_df_all['GAP_bin']
            X_ols = c_results_merge_df_all[[i, covar] + ['delta_time']]

            # Split igual al primero: test fijo ~500 y estratificado
            X_train, X_test, y_train, y_test = train_test_split(
                X_ols, y_ols,
                test_size=test_size,
                stratify=y_ols,
                random_state=boosts
            )

            scaler = MinMaxScaler((0.05, 0.95))

            X_train_scaled = pd.DataFrame(
                scaler.fit_transform(X_train),
                columns=X_train.columns,
                index=X_train.index
            )

            X_test_scaled = pd.DataFrame(
                scaler.transform(X_test),
                columns=X_test.columns,
                index=X_test.index
            )


            X_train_scaled["intercept"] = 1
            X_test_scaled["intercept"] = 1


            model = sm.GLM(y_train, X_train_scaled, family=sm.families.Binomial(link=sm.families.links.log())).fit(disp = 0)
            y_test_pred = model.predict(X_test_scaled)

            key_y = (covar, i, "y")
            key_p = (covar, i, "ypred")
            if key_y not in results_dict:
                results_dict[key_y] = pd.Series(dtype=float)
                results_dict[key_p] = pd.Series(dtype=float)

            results_dict[key_y] = pd.concat([results_dict[key_y], y_test], axis=0)
            results_dict[key_p] = pd.concat([results_dict[key_p], y_test_pred], axis=0)

            params = model.params
            conf = np.exp(model.conf_int())
            conf["RR"] = np.exp(params)
            conf["z"] = model.tvalues
            conf["P>|z|"] = model.pvalues
            conf.columns = ["2.5%", "97.5%", "RR", "z", "P>|z|"]

            hl10_stat, hl10_p = hosmer_lemeshow(y_test, y_test_pred, g=10)
            hl50_stat, hl50_p = hosmer_lemeshow(y_test, y_test_pred, g=50)
            hl100_stat, hl100_p = hosmer_lemeshow(y_test, y_test_pred, g=100)

            df_i = conf.loc[i:i].copy()
            df_i["Feature"] = i
            df_i["Covar"] = covar
            df_i["boosts"] = boosts

            df_i["hl_statistic_10"] = hl10_stat
            df_i["hl_pvalue_10"] = hl10_p
            df_i["hl_statistic_50"] = hl50_stat
            df_i["hl_pvalue_50"] = hl50_p
            df_i["hl_statistic_100"] = hl100_stat
            df_i["hl_pvalue_100"] = hl100_p

            df_directions_odd_all.append(df_i)

            df_c = conf.loc[covar:covar].copy()
            df_c["Feature"] = i + "(" + covar + ")"
            df_c["Exposure"] = i
            df_c["Covar"] = covar
            df_c["boosts"] = boosts

            df_c["hl_statistic_10"] = hl10_stat
            df_c["hl_pvalue_10"] = hl10_p
            df_c["hl_statistic_50"] = hl50_stat
            df_c["hl_pvalue_50"] = hl50_p
            df_c["hl_statistic_100"] = hl100_stat
            df_c["hl_pvalue_100"] = hl100_p

            df_directions_cov_all.append(df_c)

df_directions_odd = pd.concat(df_directions_odd_all, axis=0).reset_index(drop=True)
df_directions_cov_odd = pd.concat(df_directions_cov_all, axis=0).reset_index(drop=True)

#df_directions_odd, df_directions_cov_odd

total_exposomes
sociopolitical
social_physical
GDP
number_leng_inst
number_stable_inst
distance
Migration
gender_equal_l
Polution_conc_inv
Eq
free_parties_l
inclu_suff_est
cred_elect_est
local_dem_est

In [14]:

features = list(vars_) 
covars = df_directions_odd["Covar"].dropna().unique()

idx = pd.MultiIndex.from_product([covars, features], names=["Covar", "Feature"])
df_directions_odd_f = pd.DataFrame(index=idx)

for c in covars:
    for f in features:
        df_directions_odd_f = summarize_feature_by_covar(
            df_directions_odd, c, f, df_directions_odd_f,
            stat_cols=(10, 50, 100),
            df_offset=2
        )

df_directions_odd_f = df_directions_odd_f.reset_index()
df_directions_odd_f;

In [15]:
for covar in ['total_exposomes', 'sociopolitical', 'social_physical', 'GDP', 'number_leng_inst', 'number_stable_inst', 'distance', 'Migration'] + vars_social_physical + vars_sociopolitical:
    c_dfRR = df_directions_odd_f[df_directions_odd_f.Covar == covar]
    c_dfRR.to_excel('Results/long/long_RR_-with-slovakia_covar-' + covar + '-1000-iter.xlsx')

    print(covar)
    display(c_dfRR)

total_exposomes

,Covar,Feature,hl_pvalue_combined_10,hl_pvalue_combined_50,hl_pvalue_combined_100,RR,2.5%,97.5%,minRR,maxRR,n_iter
0,total_exposomes,Mono,0.237175,0.247340,0.912634,1.450242,1.448545,1.451940,1.404087,1.500047,10.0
1,total_exposomes,One,0.358734,0.329769,0.919471,0.936901,0.935695,0.938108,0.898114,0.976825,10.0
2,total_exposomes,Two,0.116258,0.280230,0.898125,0.781196,0.780519,0.781872,0.754871,0.808682,10.0
3,total_exposomes,Three,0.200831,0.330472,0.913018,0.680492,0.679160,0.681823,0.647220,0.714152,10.0
4,total_exposomes,Total,0.241600,0.256812,0.907312,0.688865,0.688061,0.689670,0.665966,0.711541,10.0

sociopolitical

,Covar,Feature,hl_pvalue_combined_10,hl_pvalue_combined_50,hl_pvalue_combined_100,RR,2.5%,97.5%,minRR,maxRR,n_iter
5,sociopolitical,Mono,0.221977,0.315780,0.984102,1.457372,1.455779,1.458966,1.411979,1.505596,10.0
6,sociopolitical,One,0.243152,0.426514,0.987146,0.926626,0.925388,0.927864,0.888042,0.966408,10.0
7,sociopolitical,Two,0.118466,0.333425,0.987343,0.771730,0.771085,0.772375,0.746059,0.798455,10.0
8,sociopolitical,Three,0.169853,0.476426,0.992384,0.668985,0.667728,0.670243,0.636807,0.701829,10.0
9,sociopolitical,Total,0.187772,0.294545,0.983633,0.685491,0.684742,0.686239,0.663507,0.707559,10.0

social_physical

,Covar,Feature,hl_pvalue_combined_10,hl_pvalue_combined_50,hl_pvalue_combined_100,RR,2.5%,97.5%,minRR,maxRR,n_iter
10,social_physical,Mono,0.267958,0.377225,0.935641,1.406522,1.404768,1.408276,1.357878,1.459308,10.0
11,social_physical,One,0.261554,0.306385,0.874345,0.924750,0.923570,0.925931,0.886700,0.963847,10.0
12,social_physical,Two,0.214117,0.456430,0.936709,0.829467,0.828676,0.830257,0.798940,0.861617,10.0
13,social_physical,Three,0.307277,0.373394,0.932641,0.721717,0.720321,0.723114,0.685651,0.758392,10.0
14,social_physical,Total,0.266221,0.398135,0.935026,0.710302,0.709418,0.711186,0.684591,0.735771,10.0

GDP

,Covar,Feature,hl_pvalue_combined_10,hl_pvalue_combined_50,hl_pvalue_combined_100,RR,2.5%,97.5%,minRR,maxRR,n_iter
15,GDP,Mono,0.123297,0.436031,0.995325,1.473368,1.471836,1.474901,1.427658,1.521877,10.0
16,GDP,One,0.220829,0.491304,0.987590,0.926443,0.925131,0.927755,0.886398,0.968498,10.0
17,GDP,Two,0.176444,0.235910,0.985425,0.756500,0.755985,0.757015,0.731041,0.783079,10.0
18,GDP,Three,0.176630,0.495974,0.992617,0.637840,0.636651,0.639030,0.605887,0.670647,10.0
19,GDP,Total,0.117313,0.429470,0.994621,0.678091,0.677387,0.678796,0.656450,0.699833,10.0

number_leng_inst

,Covar,Feature,hl_pvalue_combined_10,hl_pvalue_combined_50,hl_pvalue_combined_100,RR,2.5%,97.5%,minRR,maxRR,n_iter
20,number_leng_inst,Mono,0.356769,0.463276,0.982582,1.474882,1.473203,1.476560,1.428192,1.524907,10.0
21,number_leng_inst,One,0.202541,0.412245,0.987041,0.919311,0.918042,0.920580,0.879993,0.960665,10.0
22,number_leng_inst,Two,0.185260,0.378514,0.983895,0.758611,0.757917,0.759305,0.732506,0.785688,10.0
23,number_leng_inst,Three,0.217679,0.352131,0.983064,0.662611,0.661354,0.663868,0.630613,0.695095,10.0
24,number_leng_inst,Total,0.345483,0.469212,0.981258,0.677247,0.676478,0.678017,0.654996,0.699424,10.0

number_stable_inst

,Covar,Feature,hl_pvalue_combined_10,hl_pvalue_combined_50,hl_pvalue_combined_100,RR,2.5%,97.5%,minRR,maxRR,n_iter
25,number_stable_inst,Mono,0.388061,0.561212,0.994213,1.482339,1.480822,1.483856,1.437655,1.529628,10.0
26,number_stable_inst,One,0.101337,0.408164,0.987963,0.965639,0.964343,0.966935,0.925337,1.007522,10.0
27,number_stable_inst,Two,0.222417,0.398715,0.988570,0.747397,0.746807,0.747987,0.722974,0.772882,10.0
28,number_stable_inst,Three,0.141718,0.435717,0.994933,0.614699,0.613540,0.615857,0.584804,0.645242,10.0
29,number_stable_inst,Total,0.416115,0.514240,0.993928,0.674112,0.673422,0.674802,0.653243,0.695094,10.0

distance

,Covar,Feature,hl_pvalue_combined_10,hl_pvalue_combined_50,hl_pvalue_combined_100,RR,2.5%,97.5%,minRR,maxRR,n_iter
30,distance,Mono,0.112792,0.367496,0.990952,1.481211,1.479324,1.483099,1.434044,1.531844,10.0
31,distance,One,0.193554,0.300004,0.989019,0.926042,0.924905,0.927178,0.887316,0.965929,10.0
32,distance,Two,0.087416,0.310783,0.987680,0.752755,0.752087,0.753423,0.726586,0.779837,10.0
33,distance,Three,0.158647,0.293251,0.982501,0.659200,0.657864,0.660536,0.626623,0.692022,10.0
34,distance,Total,0.152879,0.350122,0.989895,0.674548,0.673690,0.675406,0.652229,0.696757,10.0

Migration

,Covar,Feature,hl_pvalue_combined_10,hl_pvalue_combined_50,hl_pvalue_combined_100,RR,2.5%,97.5%,minRR,maxRR,n_iter
35,Migration,Mono,0.250660,0.385104,0.993134,1.403849,1.402395,1.405303,1.351219,1.458362,10.0
36,Migration,One,0.341094,0.413745,0.982129,0.921724,0.920413,0.923034,0.882376,0.962182,10.0
37,Migration,Two,0.127195,0.352210,0.983435,0.813416,0.812760,0.814071,0.785428,0.842272,10.0
38,Migration,Three,0.245537,0.366293,0.985210,0.738711,0.737299,0.740123,0.699100,0.781116,10.0
39,Migration,Total,0.252188,0.383837,0.993584,0.711434,0.710697,0.712170,0.684787,0.739197,10.0

gender_equal_l

,Covar,Feature,hl_pvalue_combined_10,hl_pvalue_combined_50,hl_pvalue_combined_100,RR,2.5%,97.5%,minRR,maxRR,n_iter
40,gender_equal_l,Mono,0.263884,0.420847,0.987289,1.399149,1.397517,1.400782,1.355098,1.446064,10.0
41,gender_equal_l,One,0.256843,0.232014,0.983746,0.973849,0.972644,0.975054,0.933592,1.015421,10.0
42,gender_equal_l,Two,0.216506,0.390591,0.987716,0.807950,0.807210,0.808690,0.781001,0.836074,10.0
43,gender_equal_l,Three,0.338444,0.384064,0.991862,0.674997,0.673800,0.676193,0.643467,0.707030,10.0
44,gender_equal_l,Total,0.260393,0.431211,0.987441,0.714012,0.713180,0.714844,0.690822,0.737252,10.0

Polution_conc_inv

,Covar,Feature,hl_pvalue_combined_10,hl_pvalue_combined_50,hl_pvalue_combined_100,RR,2.5%,97.5%,minRR,maxRR,n_iter
45,Polution_conc_inv,Mono,0.204999,0.385435,0.950610,1.547747,1.546008,1.549486,1.497519,1.601525,10.0
46,Polution_conc_inv,One,0.231965,0.417830,0.951080,0.930922,0.929702,0.932141,0.892301,0.970714,10.0
47,Polution_conc_inv,Two,0.092974,0.267560,0.920846,0.741128,0.740459,0.741798,0.715832,0.768238,10.0
48,Polution_conc_inv,Three,0.118179,0.359874,0.929281,0.643014,0.641684,0.644343,0.610977,0.675998,10.0
49,Polution_conc_inv,Total,0.208295,0.446016,0.962827,0.645550,0.644825,0.646274,0.623851,0.667229,10.0

Eq

,Covar,Feature,hl_pvalue_combined_10,hl_pvalue_combined_50,hl_pvalue_combined_100,RR,2.5%,97.5%,minRR,maxRR,n_iter
50,Eq,Mono,0.260088,0.343862,0.992513,1.392636,1.389915,1.395358,1.343679,1.442894,10.0
51,Eq,One,0.118538,0.254889,0.994815,0.898936,0.897401,0.900471,0.860701,0.939279,10.0
52,Eq,Two,0.177127,0.447558,0.993895,0.828623,0.826940,0.830307,0.798306,0.861864,10.0
53,Eq,Three,0.230774,0.377586,0.991017,0.726020,0.724176,0.727865,0.690129,0.766224,10.0
54,Eq,Total,0.259945,0.333554,0.992026,0.717362,0.715959,0.718765,0.692342,0.743524,10.0

free_parties_l

,Covar,Feature,hl_pvalue_combined_10,hl_pvalue_combined_50,hl_pvalue_combined_100,RR,2.5%,97.5%,minRR,maxRR,n_iter
55,free_parties_l,Mono,0.224030,0.252243,0.990105,1.373661,1.372032,1.375290,1.330130,1.419354,10.0
56,free_parties_l,One,0.127971,0.365326,0.992910,0.944795,0.943593,0.945997,0.905227,0.985399,10.0
57,free_parties_l,Two,0.226716,0.369296,0.987788,0.808030,0.807308,0.808752,0.781875,0.835546,10.0
58,free_parties_l,Three,0.290697,0.522802,0.990091,0.695435,0.694158,0.696712,0.662609,0.728884,10.0
59,free_parties_l,Total,0.252328,0.251065,0.988840,0.727274,0.726412,0.728136,0.703835,0.751105,10.0

inclu_suff_est

,Covar,Feature,hl_pvalue_combined_10,hl_pvalue_combined_50,hl_pvalue_combined_100,RR,2.5%,97.5%,minRR,maxRR,n_iter
60,inclu_suff_est,Mono,0.262051,0.358217,0.995124,1.458357,1.456737,1.459978,1.412919,1.506819,10.0
61,inclu_suff_est,One,0.265051,0.303946,0.984958,0.930482,0.929252,0.931712,0.891762,0.970318,10.0
62,inclu_suff_est,Two,0.137531,0.363845,0.991162,0.772249,0.771607,0.772892,0.746583,0.798937,10.0
63,inclu_suff_est,Three,0.214036,0.377154,0.989280,0.668708,0.667441,0.669975,0.636482,0.701591,10.0
64,inclu_suff_est,Total,0.262001,0.377784,0.995351,0.685029,0.684269,0.685789,0.662970,0.707090,10.0

cred_elect_est

,Covar,Feature,hl_pvalue_combined_10,hl_pvalue_combined_50,hl_pvalue_combined_100,RR,2.5%,97.5%,minRR,maxRR,n_iter
65,cred_elect_est,Mono,0.322074,0.361601,0.989529,1.449109,1.447435,1.450782,1.404254,1.497190,10.0
66,cred_elect_est,One,0.350082,0.309806,0.978234,0.939301,0.938112,0.940490,0.900279,0.979609,10.0
67,cred_elect_est,Two,0.306262,0.448294,0.988601,0.767919,0.767300,0.768537,0.742689,0.794141,10.0
68,cred_elect_est,Three,0.253701,0.403194,0.984289,0.669174,0.667915,0.670432,0.637078,0.701850,10.0
69,cred_elect_est,Total,0.322208,0.356345,0.990791,0.689413,0.688617,0.690208,0.667243,0.711466,10.0

local_dem_est

,Covar,Feature,hl_pvalue_combined_10,hl_pvalue_combined_50,hl_pvalue_combined_100,RR,2.5%,97.5%,minRR,maxRR,n_iter
70,local_dem_est,Mono,0.224671,0.387272,0.987610,1.445559,1.443881,1.447236,1.400347,1.493977,10.0
71,local_dem_est,One,0.183912,0.420966,0.989126,0.943992,0.942765,0.945219,0.904618,0.984568,10.0
72,local_dem_est,Two,0.173238,0.405058,0.991013,0.774558,0.773903,0.775213,0.749012,0.801206,10.0
73,local_dem_est,Three,0.302593,0.453007,0.986694,0.677223,0.675917,0.678529,0.644678,0.710267,10.0
74,local_dem_est,Total,0.230935,0.389626,0.988762,0.691110,0.690309,0.691911,0.668683,0.713456,10.0

In [16]:
dt = time.perf_counter() - t0
m, s = divmod(dt, 60)
print(f"Tiempo total: {int(m)} min {s:.1f} s")

Tiempo total: 5 min 6.1 s